.App {
    text-align: center;
    min-height: 100vh;
    padding-top: 20px;
    background-image: url('/public/fistik1.jpg'); /* Doğru yol: resminizin adı ve .jpg uzantısı */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    margin-bottom: 20px; 
  }
  
  .navigation button {
    font-size: 18px;
    font-weight: bold; 
    padding: 10px 20px; 
    margin: 0 10px; 
    background-color: brown; 
    color: rgb(50, 222, 50); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navigation button:hover {
    background-color: rgb(102, 29, 29);
  }