.register-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #860e14;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .register-form form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .register-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-form button {
    padding: 10px;
    font-weight: bold; 
    color: white;
    background-color: rgb(50, 222, 50);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-form button:hover {
    background-color: brown;
  }


  